{% extends "front/base.html.twig" %}


{% block main %}


    <h2>        {{ media.title }}          </h2>

    <h3>        {{ media.category.name }}   </h3>  

    <p>         {{ media.alt }}  {{ media.src }}        </p>
    
    <img src="{{ asset('media/' ~ media.src ) }}" alt="{{ media.alt }}">
        
    




    
{% endblock %}